body {
  background: black;
  color: #00ffcc;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#hud {
  border: 2px solid #00ffcc;
  padding: 20px;
  border-radius: 10px;
  width: 1000px;
  background: rgba(0, 0, 0, 0.8);
}

#chat {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow-x: auto;
  height: 700px;
  width: 700px;
  overflow-y: auto;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #00ffcc;
  background: #111;
}

#status {
  font-weight: bold;
  margin-bottom: 10px;
}

input {
  width: 70%;
  padding: 5px;
  border: none;
  outline: none;
  background: #222;
  color: #00ffcc;
}

button {
  width: 25%;
  background: #00ffcc;
  border: none;
  color: black;
  font-weight: bold;
  padding: 5px;
  cursor: pointer;
}
